# Entorno virtual
venv/
.venv/

# Variables de entorno
.env

# Base de datos local
portal.db
*.db

# Caché de Python
__pycache__/
*.py[cod]
*$py.class

# Caché de pruebas
.pytest_cache/

# Carpeta instance de Flask
instance/

# Archivos de VS Code
.vscode/

# Archivos de PyCharm
.idea/

# Archivos del sistema
.DS_Store
Thumbs.db